body {
  padding-top: 10px;
}
.navbar-custom {
    background-color:#FF0000;
    color:#ffffff;
    border-radius:1.5;

}
.navbar-custom .navbar-nav > li > a {
    color:#000;
}
.navbar-custom .navbar-nav > .active > a{
    color: #ffffff;
    background-color: #000;
}
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus { 
    text-decoration: none; 
    color:#fff;    
    background-color: #000;
}
.navbar-brand{
	color: #FF6103;

}

.navbar-brand:hover{
	color: #FFB90F;

}
.nav > .navbar-nav{
  text-align: center;
}
.img-screen{
  padding-left:100px;
}
.img-screen:hover{
  cursor:pointer;
}
[class*="col-"], footer {
  background-color:#000;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  /*text-align: center;*/
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.sect > div > h1{
	color:#FF0000;
	height:100%; 
	text-align: center;

}
.sect > div > p{
	color:#fff;

}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal-header,.modal-footer{
  background-color: #FF0000;
}
.modal-footer > button{
  background-color: #000;
  color:#FF0000;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
...
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
...
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
...